<div class="content__menu container-fluid">
    <ul class="content__ul">
        <li class="content__li"><a href="{{ baseUrl }}/site/content" class="content__a">My Actions</a></li>
        <li class="content__li"><a href="{{ baseUrl }}/site/loans" class="content__a">Loans</a></li>
        <li class="content__li"><a href="{{ baseUrl }}/site/users" class="content__a">Users</a></li>
    </ul>
</div>

{% if twigFile is not empty %}
    {{ include(twigFile) }}
{% endif %}
