/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Css Reset */

@font-face {
    font-family: Ubuntu Arial, sans-serif;
    src: url('/web/Ubuntu-C.ttf');
}

.baseWrap {
    width: 100%;
    height: 38px;
    background-color: #010101;
}

.baseHeader {
    margin: 0 auto;
    width: 80%;
    height: 38px;
    position: relative;
}

.logoHeader {
    margin: 0 auto;
    width: 80%;
    height: 61px;
    position: relative;
}

.gridHeader {
    margin: 0 auto;
    width: 100%;
    height: 61px;
    position: relative;
    background-color: #EEEFEF;
}

.gridHeader__content {
    margin: 0 auto;
    width: 80%;
    height: 61px;
    position: relative;
}

.baseHeader__ul {
    list-style: none;
    position: relative;
    top: 11px;
}

.baseHeader__ul li {
    margin-left: 15px;
    font-family: Ubuntu;
    font-size: 16px;
    display: inline;
    color: white;
}

.baseHeader__ul__li {
    font-weight: bold;
    font-size: 15px;
}

.baseHeader__note {
    float: right;
    position: relative;
    top: 11px;
    right: 80px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.baseHeader__menu__btn {
    float: right;
    position: relative;
    top: 9px;
    left: 148px;
    border: 2px solid white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: orange;
}

.logoHeader__menu {
    position: relative;
    top: 22px;
    left: 55px;
    list-style: none;
}

.logoHeader__menu li {
    display: inline;
    margin-left: 20px;
}

.logoHeader__menu li a {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.logoHeader__menu li a:hover {
    color: orange;
}

.logoHeader__lang {
    position: relative;
    top: 22px;
    left: 140px;
}

.logoHeader__lang a {
    font-family: Ubuntu;
    font-size: 12px;
    text-decoration: none;
}

.logoHeader__lang a:hover {
    color: orange;
}

.gridHeader__menu {
    position: relative;
    top: 21px;
    left: 20px;
}

.gridHeader__menu li {
    display: inline;
    margin-left: 30px;
}

.gridHeader__menu a {
    font-family: Ubuntu;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.gridHeader__menu a:hover {
    color: orange;
}

.baseContainer {
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    height: 500px;
}

.content__user__createUpdate, .content__loan__createUpdate {
    margin: 0 auto;
    width: 50%;
}